# Eclipse Files and Folders
.settings/
.classpath
.project

# IntelliJ Files and Folders
.idea

# Output folders (compiled binaries, temporary)
bin/

# macOS System Files
.DS_Store

# Log and temporary files
*.log
*.tmp
